<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="liechty.android.pleaseholdapplause"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="liechty.android.pleaseholdapplause.Splashscreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="liechty.android.pleaseholdapplause.JoinOrStart"
            android:exported="false" />
        <activity
            android:name="liechty.android.pleaseholdapplause.ChooseByCode"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="liechty.pleaseholdapplause.intent.CHOOSEPRESENTATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="liechty.android.pleaseholdapplause.RequestPresentation"
            android:exported="false" />
        <activity
            android:name="liechty.android.pleaseholdapplause.AttendPresentation"
            android:label="@string/title_activity_attend_presentation" />
        <activity
            android:name="liechty.android.pleaseholdapplause.DeliverPresentation"
            android:label="@string/title_activity_deliver_presentation" />
        <activity
            android:name="liechty.android.pleaseholdapplause.ChooseByList"
            android:exported="false"
            android:label="@string/title_activity_choose_by_list" >
            <intent-filter>
                <action android:name="liechty.pleaseholdapplause.intent.CHOOSEPRESENTATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="liechty.android.pleaseholdapplause.provider.PHAProvider"
            android:authorities="liechty.android.pleaseholdapplause"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>